.navbar {
	background-color: #4095a5;
	
}

.navbar-nav ul li a {

	color: #EBEBEB;
}

.navbar-inverse .navbar-nav>li>a {
    color: #EBEBEB;
}

.navbar-inverse .navbar-brand {
    color: #EBEBEB;
}
body {
	background-color: #EBEBEB;
}

#login {

}

.firstcolor {
	background-color: #4095a5;
}
.secondcolor{
	background-color: #EBEBEB;
}

.errorMessage {
    color: red;
}

.setWrapper {
    width: 20vw;
    height: 10vh;
    text-align: center;
    background-color: lightgrey;
    border: 3px solid #4095a5;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.setWrapper p {
    margin: auto;
    cursor: pointer;
}

#cardsList {
    width: 30vw;
    height: 20vh;
    text-align: center;
    background-color: lightgrey;
    border: 3px solid #4095a5;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#cardsList p {
    margin: auto;
    cursor: pointer;
}

.btn.nextCard, .btn.prevCard {
    display: inline;
}