.navbar {
	background-color: #4095a5;
	
}

.navbar-nav ul li a {

	color: #EBEBEB;
}

.navbar-inverse .navbar-nav>li>a {
    color: #EBEBEB;
}

.navbar-inverse .navbar-brand {
    color: #EBEBEB;
}
body {
	background-color: #EBEBEB;
}

#login {

}

.firstcolor {
	background-color: #4095a5;
}
.secondcolor{
	background-color: #EBEBEB;
}

.errorMessage {
    color: red;
}

#setsList {
    width: 30vw;
    height: 20vh;
    text-align: center;
    background-color: lightgrey;
    border: 5px solid #4095a5;
    border-radius: 10px;
    display: inline;
    vertical-align: middle;
}

#setsList p {
    margin: 0 auto;
}

.btn.nextCard, .btn.prevCard {
    display: inline;
}